@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,450;1,450&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


main {
  font-family: 'Open Sans';
  margin-left: 10%;
  padding-top: 5%;
  font-size: 20px;
}

h2 {
  margin-top: 5vh;
  font-family: 'Roboto Mono';
}

select, input {
  padding: 4px;
  border: none;
  border-radius: 5px;
  /*color: #ecf0f1;*/
  background-color: rgb(213, 208, 219);
}

button {
  height: 30px;
  background-color: #8164af;
  color: #ecf0f1;
  padding: 1vh 2vh;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2vh;
}

button:hover {
  background-color: #8164afb4;
}

table {
    color: #d6dbe5;
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    margin-top: 1%;
    margin-bottom: 5%;
    }
    
    thead th {
      background-color: #7464af;
      width: 20%;
    }
  
    
    th,
    td {
      border: 3px solid #7464af;
      padding: 20px;
    }
  
    td{
      text-align: center;
    }