@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,450;1,450&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



.login_menu {
    display: inline-grid;
    margin-left: 43.75%;
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
}

input[type="username"],
input[type="password"] {
    font-size: 2vh;
    height: 3vh;
    margin: 2vh 0;
    width: 24vh;
    border: none;
    border-radius: 3px;
}


input[type="submit"] {
    font-size: 2vh;
    background-color: #36852999;
    color: #ecf0f1;
    padding: 1vh 2vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #358529c7;
}

.submit{
    max-width: max-content;
}

.register{
    text-decoration: none;
    background-color: rgba(82, 143, 157, 0.337);
    color: #ecf0f1;
    padding: 1vh 2vh;
    margin-top: 1vh;
    border-radius: 10px;
    cursor: pointer;
}

.register:hover {
    background-color: rgba(75, 140, 155, 0.874);
    transition: 400ms;
}
