@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    line-height: 1.6;
    background-color: #313242;
    color: #e7e7e7;
}

.text {
    font-size: 1.5vh;
    padding-right: 30%;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.heading_text{
    font-family: "Roboto Mono";
    font-size: 6.5vh;
    margin-top: 0;
    padding-left: 10%;
}

.empty_space{
    min-height: 18vh;
}

h2 {
    color: aliceblue;
    padding-bottom: 1vh;
}

.obj{
    margin-top: 7vh;
    margin-bottom: 3vh;

}


.back-button {
    display: inline-block;
    padding: 1vh 2vh;
    color: white;
    text-decoration: none;
    border-radius: 0.5vh;
    margin-top: 2vh;
}

.back-button:hover {
    transition: 400ms;
}